<AuCard
  @divided={{true}}
  @flex={{true}}
  as |c|
>
  <c.content>
    <strong>Origineel</strong>
    <p>Tekst</p>
  </c.content>
  <c.footer>
    <AuButton @alert={{true}}>
      Verwijder
    </AuButton>
  </c.footer>
</AuCard>
