{{#if this.enabled}}
  <div class='say-toolbar__group'>
    <button
      type='button'
      class='say-toolbar__button'
      title={{t 'toolbar.button.title'}}
      {{on 'click' this.toggleMark}}
    >
      <AuIcon
        @icon='not-visible'
        @ariaHidden={{true}}
        @size='large'
      />
      <span class='au-u-hidden-visually'>
        {{t 'toolbar.button.title'}}
      </span>
    </button>
  </div>
{{/if}}
